body{
  font-family: sans-serif;
  margin: 0px 0px 30px 0px;
  background-color: cyan;
}
.img{
  width: 960px;
  height: 322px;
  display: block;
  margin-left: auto;
  margin-right: auto
  
}
header{
  width: 60%;
  margin: 0 auto;

}
header img{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.alinhatexto{
  text-align: center
}
p{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
footer{
  text-align: center;
  background-color: black;
  height: 80px;
  padding: 10px 10px;
}